snoorefi.syaad.dev {
  root * /srv/snoorefi/frontend
  file_server
  try_files {path} /index.html
  encode zstd gzip
}

api-snoorefi.syaad.dev {
  reverse_proxy snoorefi-backend:4000
}

promptlab.syaad.dev {
  root * /srv/promptlab/frontend
  file_server
  try_files {path} /index.html
  encode zstd gzip
}